#header {
  background-color: black;
  padding: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#heading {
  color: white;
  font-family: Poppins;
  font-size: 3vh;
}

.start-button {
  font-family: Poppins;
  background-color: green;
  border: transparent;
  border-radius: 2vh;
  padding: 2.5vh;
  color: white;
  margin-right: 1vh;
  padding-left: 4vh;
  padding-right: 4vh;
}
.reset-button {
  font-family: Poppins;
  background-color: blue;
  border: transparent;
  border-radius: 2vh;
  padding: 2.5vh;
  color: white;
  padding-left: 4vh;
  padding-right: 4vh;
}

.start-button:hover {
  opacity: 50%;
}
.reset-button:hover {
  opacity: 50%;
}
